#container {
  padding-right: 10%;
  padding-left: 10%;
  font-size: medium;
}

.figure {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#logo_img {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.footer {
  background-color: #eee;
  border: 2px;
  border-color: black;
  border-style: dashed;
}
