@import 'modules/logo';
@import 'modules/body';
@import 'modules/nav';
@import 'modules/footer';
@import 'modules/content';
@import 'modules/code';

.img-blog {
  width: 50%;
  height: auto;
}

img {
  text-align: center;
  size: 25px;
  border: 1px solid black;
}

@media screen and (max-width: 888px) {
  #logo_img {
    display: none;
  }
  .post-list {
    width: 100%;
  }
  .img-blog {
    width: 100%;
    height: auto;
  }
}

